.profile__add-button-name {
  width: 22px;
  height: 22px;
  margin: 14px auto;
}

@media screen and (max-width: 568px) {
    .profile__add-button-name {
      width: 16px;
      height: 16px; 
      margin: 17px 132px 17px 134px;
   }  
  }