.popup__container-image {
  max-width: 75vw; 
  max-height: 75vh; 
  display: flex;    
  flex-direction: column;
  gap: 10px;
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
}

@media screen and (max-width: 568px){
    .popup__container-image {
      max-width: 320px;
      max-height: 568px;
   }  
  }