.popup__save-button {
  height: 50px;
  width: 358px;
  border: 1px #000000;
  border-radius: 2px;
  background-color: #000000;
  margin: 17px 0 0 0;
}

.popup__save-button:hover {
 opacity: 0.8;
 cursor: pointer;
}

@media screen and (max-width: 568px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
 }  
}