.profile__info {
  max-width: 336px;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 1fr;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-areas: 
  "title editButton"
  "subtitle subtitle";
  color: #FFFFFF;
  padding: 0 244px 0 3.75px;
}

  @media screen and (max-width: 984px) {
    .profile__info {
      padding: 0 50px 0 3.75px;
    }  
  }

  @media screen and (max-width: 568px) {
    .profile__info {
      max-width: 282px;
      grid-template-columns: 189px 18px;
      grid-template-rows: 1fr;
      column-gap: 10px;
      row-gap: 14px;
      padding: 22.25px 19px 36px 46px;
  }  
  }