.profile__edit-button-name {
    width: 10px;
    height: 10px;
    margin: 7px auto;
  }   

  @media screen and (max-width: 568px) {
    .profile__edit-button-name {
      width: 7.5px;
      height: 7.5px; 
      margin: 5.25px auto;
   }  
  }
